/* Los estilos de tu proyecto */
*{
	overflow-x: hidden;
}
/*Primera seccion */

.taxi{
	background: url(../assets/images/taxi.jpg);
	height: 700px;
	width: 100%;
	background-size: cover;
	background-position: 25% 95%;
	margin-top: -1.4em;

}

.disfrutaViaje{
	background: #F7B617;
	color: white;
	height: 28.5em; 
	margin-top: 12em;
}

.disfrutaViajeMovil{
	height: 18em;
	margin-top: 22em;
}

.disfrutaViaje h1{
	overflow-y: hidden;
	font-weight: 500;
	margin-left: 1em;
	margin-top: 1em;

}
.disfrutaViaje h3{
	margin-left: 1.5em;
}
.disfrutaViaje h3 div{
	margin-left: 1em;
	display: inline-block;
	height: 1.15em;
	width: 5.25em;
	background-image: url(../assets/images/logoBlanco.png);
}
.disfrutaViaje button {
	margin-left: 1.9em;
	text-transform: uppercase;
	font-weight: 500;
	margin-top: 0.8em;
}
.disfrutaViaje hr{
	margin-left: 3em;
	width: 8.1em;
	display: inline-block;
	margin-right: 3em;
}
.disfrutaViaje p {
	padding-left: 2em;
	padding-right: 2em;
	padding-top: 0;
}

.logoBlanco{
	background: url(../assets/images/logoBlanco.png);
	height: 2em;
	background-size: cover;
	background-position: center;
}

/*Segunda seccion*/

.phone{
	background-color: #F7B617;
	height: 40em;
}
.pad{
	padding: 2em 0 2em 0;	
}
.borderBox{
	border:2px solid white;
	margin-top: 3.5em;
}

.borderBox p {
	color: white;
	font-size: 1.5em;
	margin-top: 1.1em;
}

.borderBox h3{
	color:white;
	font-size: 2em;
}

.phoneimg{
	height: 28em;
	background-image: url(../assets/images/iPhone6Plus.png);
	background-size: contain;
	background-position: 20%;
	background-repeat: no-repeat;
}
.mensajePie{
	color: white;
	margin-left: 1.5em;
}

/*Tercera Seccion*/
.sectionConduce{
	height: 30em;
	background-image: url(../assets/images/conduce.jpg); 
	background-size: cover;
	background-position: 0% 45%;
	background-repeat: no-repeat;
}
.conduce{
	/*outline: 2px solid white;*/
	height: 30em;
	background: rgba(0, 0, 0, 0.5);
	color: white;
	margin-right: -1em;
}

.conduce h2{
	margin: 4em 0em 0 1em;
}
.conduce h4{
	margin:1em 0em 1em 1em;
}
.conduce button{
	margin:1em 0em 1em 1.7em;
	background-color: #F7B617;
}

/*Cuarta Seccion*/
.tarifas{
	height: 36em;
	background-color: #F7B617;
	color: white;
}
.tarifasDos{
	margin-top: 4em;
	/*outline: 1px solid white;*/
	height: inherit;
}
.tarifasDos h4{
	margin-top: 1.6em;
}

.tarifasDos button{
	margin-top: 2em;	
}
.inputDiv{
	margin-top: 2.5em;
	/*outline: 2px solid white;*/
	height: 3em;
}
.inputDiv span{
	overflow-y: hidden;
}
.myinput{
	background: none;
	border: 1px solid white;
	border-radius: 5px;
	margin-left: 1em;
	padding: .5em 1em .5em 1em;
}

.glyphicon{
	font-size: 1.3em;
	padding-top: .3em;
}

.mapa{
	margin-top: 3em;
	border:1px solid white;
	height: inherit;
}

.mapa iframe{
	margin-top: 1em;
	margin-left: 1.3em;
}

/*4ta version movil*/
/*Cuarta Seccion*/
.tarifasMovil{
	height: 55em;
	background-color: #F7B617;
	color: white;
}
.tarifasDosMovil{
	margin-top: 4em;
	/*outline: 1px solid white;*/
	height: inherit;
}
.tarifasDosMovil h4{
	margin-top: 1.6em;
}

.tarifasDosMovil button{
	margin-top: 2em;	
}
.inputDivMovil{
	margin-top: 1.6em;
	/*outline: 2px solid white;*/
	height: 3em;
}
.inputDivMovil span{
	overflow-y: hidden;
}
.myinput{
	background: none;
	border: 1px solid white;
	border-radius: 5px;
	margin-left: 1em;
	padding: .5em 1em .5em 1em;
}

.glyphicon{
	font-size: 1.3em;
	padding-top: .3em;
}

.mapamovil{
	margin-top: 1.5em;
	border:1px solid white;
	height: inherit;
}
.cajaMapa{
	margin-top: 1em;
	margin-bottom: 0.5em;

}
.mapa iframe{
	margin-top: 1em;
	margin-left: .6em;
}

/* 5seccion footer */
footer{
	background: #2B2B2B;
	height: 40em;
}

.logoblanco{
	background: url(../assets/images/logoBlanco.png);
	background-size: initial;
	background-repeat: no-repeat;
	background-position: 10%;
	height: 4em;
	margin-top: 1em;
}
.alignement{
	display: flex;
	align-items: 	flex-end;
}
.social{
	color:white;
}
.fa{
	color: white;
	font-size: 2em;
	padding-left: 1em;
}
footer li {
	color:white;
	line-height: 2.5em;
}

.dowloadApp{
	height: 3.6em;
	background-image: url(../assets/images/appstore.png);
	background-size: contain;
	background-repeat: no-repeat;
	margin-bottom: 2em;
}
.googlePlay{
	height: 3.5em;
	background-image: url(../assets/images/enBadgeWebGeneric.png);
	background-size: contain;
	background-repeat: no-repeat;
}

.copyright{
	color:white;
	font-size: 1em;
}
.lineMovil{
	margin-left: 1em;
}
.fa-movil{
	font-size: .5em;
}
.appStoreMovil{
	margin-top: 3em;
}
ul{
	padding-left: 0;
}